{{!-- Este es un comentario no aparece en el html final --}}
{{!--  define que master page va a utilizar en este es layoute/basic --}}
{{#> layouts/basic page_title="Home"}}
  {{!-- el #*inline "nombre de bloque"
    define donde incorporar en el layout el codigo siguiente
   --}}
  {{#*inline "main-block"}}

    <div class="pt-8 border-solid border-4 border-black m-8 rounded-xl">
        <div class="sliderAx h-auto">
            <div id="slider-1" class="container mx-auto">
            <div class="bg-contain bg-no-repeat bg-center text-white py-48 px-10 object-fill" style="background-image: url(https://static.nike.com/a/images/t_PDP_864_v1/f_auto,b_rgb:f5f5f5,q_80/974f19b0-0f37-4408-8229-08c78ccad2fa/custom-nike-air-force-1-by-you.jpg">
            </div> <!-- container -->
            <br>
            </div>

            <div id="slider-2" class="container mx-auto">
            <div class="bg-contain bg-no-repeat bg-top h-auto text-white py-48 px-10 object-fill" style="background-image: url(https://static.nike.com/a/images/t_PDP_864_v1/f_auto,b_rgb:f5f5f5,q_80/e0422ca2-1fcf-4de5-a3f2-e4c8c0107d2c/air-force-1-gtx-zapatillas-jvjvJ9.jpg">
            </div> <!-- container -->
            <br>
            </div>
            </div>
    </div>

    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    <script>
        var cont=0;
        function loopSlider(){
            var xx= setInterval(function(){
                switch(cont)
                {
                    case 0:{
                        $("#slider-1").fadeOut(400);
                        $("#slider-2").delay(400).fadeIn(400);
                        $("#sButton1").removeClass("bg-purple-800");
                        $("#sButton2").addClass("bg-purple-800");
                    cont=1;
        
                    break;
                    }
                    case 1:
                    {
        
                        $("#slider-2").fadeOut(400);
                        $("#slider-1").delay(400).fadeIn(400);
                        $("#sButton2").removeClass("bg-purple-800");
                        $("#sButton1").addClass("bg-purple-800");
                    
                    cont=0;
        
                    break;
                    }
        
        
                    }},4000);

                }

    function reinitLoop(time){
    clearInterval(xx);
    setTimeout(loopSlider(),time);
    }

        $(window).ready(function(){
            $("#slider-2").hide();
            $("#sButton1").addClass("bg-purple-800");
            

            loopSlider();
        });

  
  </script>



   {{/inline}}
{{/layouts/basic}}